//Déclaration des variables (commentaire SASS)
$base-color:#369;
$title-1-color: #c33;

//Utilisation des fonctions prédéfinies
$title-2-color: darken($title-1-color, 10%);
$title-3-color: darken($title-1-color, 20%);



.main{
    color:$base-color;
}
.main h1{
    color:$title-1-color;
}
.main h2{
    color:$title-2-color;
}
.main h3{
    color:$title-3-color;
}

//imbrication
.imbrication{
    h2{
        color:$title-2-color ;
    }
    
    section{
        border: 1px solid $title-3-color;
        padding: 1em;
    }
    h3{
        color: $title-3-color;
    }
}