
html {
    font-size: 62.5%;
    /* 1rem = 10px */
    scroll-behavior: smooth;    
}

body {
    font-family: mono, sans-serif;
   box-sizing: border-box;
   background-color: rgb(0, 0, 5);
   margin:0;
}


/* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER */
/* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER */


h1 {
    color: rgb(76, 4, 4);
    font-size: 3em;
    text-align: center;
    width: 100%;
    font-style: italic;
    font-family: 'Times New Roman', Times, sans-serif;
}

h2 {
    background-color: '' ;
    color: whitesmoke;
    text-align: center;
    
}
.slogan {
    background-color: '';
    margin: 0;
    padding: 0.2em;
    color: white;
}

header {
    background: linear-gradient(to bottom, rgb(255, 16, 215), rgb(21, 2, 128), black);
    
    padding: 1em;
    text-align: center; 
}

.header1 {
    
    max-height: 20vh;

}

/* NAVBAR *//* NAVBAR *//* NAVBAR *//* NAVBAR *//* NAVBAR *//* NAVBAR *//* NAVBAR *//* NAVBAR *//* NAVBAR *//* NAVBAR */


.navbar {
    
    overflow: hidden;   
    text-decoration: none;
    list-style: none;
    
}

nav ul {
    
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    background-color:'';
    text-decoration: none;
    
    justify-content: center;
}

.navbar ul li {
    text-align: center;
    padding: 1em;
    
    list-style: none;
}

nav ul li a {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin: 1.3rem;
    padding: 0.5em;
    font-size: 1.5em;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-family: monospace, sans-serif;
}
nav ul li a:hover {
    background-color: rgb(169, 0, 163);
    color: rgb(76, 4, 4);
}

.logo {
    display:;
    margin-bottom: 200px ;
    max-width: 100%;
}

h2 {
    color: rosybrown;
    text-align: center;
    font-size: 1.5em;
    margin: 0.5em 0;
    font-family: 'Times New Roman', Times, serif;

}

.container { 
    width: 1200px;
    margin: 0 auto;

}


main img {
    width: cover;
      
     
}

/* BUTTON */ /* BUTTON *//* BUTTON *//* BUTTON *//* BUTTON *//* BUTTON *//* BUTTON *//* BUTTON *//* BUTTON *//* BUTTON *//* BUTTON */
button {
background-color: rgba(22, 228, 215, 0.553);
    color: black;
    border: none;
    padding: 0.5em 1em;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;

}

button:hover {
    background-color: rgb(0, 91, 247);
    transform: scale(1.05); 
    color:  rgba(255, 255, 255, 0.747);/* Slightly enlarge the button on hover */
}




/* SLIDER CSS */
#bx-pager {
    text-align: center;
    margin-top: -30px;
  }

  #bx-pager a {
    margin: 0 3px;
  }

  #bx-pager a img {
    padding: 3px;
    border: solid #ccc 1px
  }

  #bx-pager a.active img {
    border: solid #5280DD 1px;
  }

/* BUTTON */



.button {
    
    border-radius: 28px;
    background: linear-gradient(145deg, #2c2b2c, #252425);
    box-shadow:  5px 5px 10px #282728,
                 -5px -5px 10px #2a292a;
        color: white;
        padding: 15px 30px;
        border: none;
        font-size: 18px;
        cursor: pointer;
        display: block; 
        margin: 30px auto;
        transition: transform 1s ease;
        animation: fall 20s ease-out forwards;
    
        
        
        transform: translateY(0);
      }
    
      .button:hover {
        
        border-radius: 28px;
    background: linear-gradient(145deg, #fbfbfb, #d4d4d4);
    box-shadow:  5px 5px 10px #e6e6e6,
                 -5px -5px 10px #f0f0f0;
                 color: black;
        
        
        
        transform: translateY(-0px);
        
       
        box-shadow: 0 15px 20px rgba(0,0,0,0.3);
      }
    
      