ul{
    background:#DD5735;
    display:flex;
    justify-content:space-between;
    list-style:none;
    
    color:white;
    
li{
   font-size:2rem; 
   margin:2rem;
   background:#DD5735;
}

li:hover{
    color:#333;
    background:#fc3;
    transform:scale(1.5);
    transition: color .2s ease-out, background 1s ease-out, transform .5s ease-out;
}